/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.ETXRespondingErrorException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.ClientPersistenceResponse;
import com.verizon.thingspace.models.ClientRegistrationRequestV2;
import com.verizon.thingspace.models.ClientRegistrationResponse;
import com.verizon.thingspace.models.ConnectionRequest;
import com.verizon.thingspace.models.ConnectionResponse;
import com.verizon.thingspace.models.ConnectionResponseV3;
import com.verizon.thingspace.models.DevicesRequest;
import com.verizon.thingspace.models.DevicesResponse;
import com.verizon.thingspace.models.ETXClientIDLookup;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.UUID;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class ETXRegistrationController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public ETXRegistrationController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * With this API call the user (client) registers its device or software service to the ETX
     * system. Therefore, when a connection is initiated from the device or software service to the
     * ETX system along with the credential provided by this registration call, then the connection
     * will be authorized. - The user can register multiple devices or software services, which can
     * all be used at the same time. - There rules set in the system that limit the type and subtype
     * of the clients that are allowed to be registered under the VendorID. The rules are created
     * based ont he agreement between the Vendor and Verizon. - The user will only be able to
     * register a limited number of devices or software services under the same VendorID. This
     * registration limit is specified by the agreement between the Vendor and Verizon. Note: The
     * user needs to authenticate with their ThingSpace credentials using the Access/Bearer and
     * Session/M2M tokens in order to call this API.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ClientRegistrationResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ClientRegistrationResponse> registerETXClient(
            final ClientRegistrationRequestV2 body,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareRegisterETXClientRequest(body, xTransactionId).execute();
    }

    /**
     * With this API call the user (client) registers its device or software service to the ETX
     * system. Therefore, when a connection is initiated from the device or software service to the
     * ETX system along with the credential provided by this registration call, then the connection
     * will be authorized. - The user can register multiple devices or software services, which can
     * all be used at the same time. - There rules set in the system that limit the type and subtype
     * of the clients that are allowed to be registered under the VendorID. The rules are created
     * based ont he agreement between the Vendor and Verizon. - The user will only be able to
     * register a limited number of devices or software services under the same VendorID. This
     * registration limit is specified by the agreement between the Vendor and Verizon. Note: The
     * user needs to authenticate with their ThingSpace credentials using the Access/Bearer and
     * Session/M2M tokens in order to call this API.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ClientRegistrationResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ClientRegistrationResponse>> registerETXClientAsync(
            final ClientRegistrationRequestV2 body,
            final UUID xTransactionId) {
        try {
            return prepareRegisterETXClientRequest(body, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for registerETXClient.
     */
    private ApiCall<ApiResponse<ClientRegistrationResponse>, ApiException> prepareRegisterETXClientRequest(
            final ClientRegistrationRequestV2 body,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<ClientRegistrationResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/clients/registration")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ClientRegistrationResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * With this API call the user (client) can: - renew the certificate of a device or software
     * service in the ETX system if the original certificate has expired. If the client's
     * certificate expired or going to expire within 30 days and new certificate will be issued. If
     * the certificate expires more than 30 days, the current certificate will be returned to the
     * client. - complete its device or software service registration to the ETX system if the
     * original registration request was not successful because of a pending certificate generation.
     * Whenever the user receives a "client registration is pending" response (HTTP 202) from POST
     * /clients/registration call. The client should initiate this PUT API call to finish the
     * registration process and get the required certificate. Note: The user needs to authenticate
     * with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to
     * call this API.
     * @param  deviceID  Required parameter:
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @param  body  Optional parameter:
     * @return    Returns the ClientRegistrationResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ClientRegistrationResponse> renewETXClientCertificate(
            final UUID deviceID,
            final String vendorID,
            final UUID xTransactionId,
            final Object body) throws ApiException, IOException {
        return prepareRenewETXClientCertificateRequest(deviceID, vendorID, xTransactionId,
                body).execute();
    }

    /**
     * With this API call the user (client) can: - renew the certificate of a device or software
     * service in the ETX system if the original certificate has expired. If the client's
     * certificate expired or going to expire within 30 days and new certificate will be issued. If
     * the certificate expires more than 30 days, the current certificate will be returned to the
     * client. - complete its device or software service registration to the ETX system if the
     * original registration request was not successful because of a pending certificate generation.
     * Whenever the user receives a "client registration is pending" response (HTTP 202) from POST
     * /clients/registration call. The client should initiate this PUT API call to finish the
     * registration process and get the required certificate. Note: The user needs to authenticate
     * with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to
     * call this API.
     * @param  deviceID  Required parameter:
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @param  body  Optional parameter:
     * @return    Returns the ClientRegistrationResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ClientRegistrationResponse>> renewETXClientCertificateAsync(
            final UUID deviceID,
            final String vendorID,
            final UUID xTransactionId,
            final Object body) {
        try {
            return prepareRenewETXClientCertificateRequest(deviceID, vendorID, xTransactionId,
            body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for renewETXClientCertificate.
     */
    private ApiCall<ApiResponse<ClientRegistrationResponse>, ApiException> prepareRenewETXClientCertificateRequest(
            final UUID deviceID,
            final String vendorID,
            final UUID xTransactionId,
            final Object body) {
        return new ApiCall.Builder<ApiResponse<ClientRegistrationResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/clients/registration")
                        .bodyParam(param -> param.value(body).isRequired(false))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("DeviceID")
                                .value(deviceID).isRequired(false))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.PUT))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ClientRegistrationResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * With this API call the user (client) can unregister its devices and software services from
     * the ETX system. The unregistered devices and services will no longer be able to use the ETX
     * Message Exchange. Note: The user needs to authenticate with their ThingSpace credentials
     * using the Access/Bearer and Session/M2M tokens in order to call this API.
     * @param  deviceIDs  Required parameter: The list of device IDs and software service IDs to be
     *         unregistered
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> unregisterETXClients(
            final List<UUID> deviceIDs,
            final String vendorID,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareUnregisterETXClientsRequest(deviceIDs, vendorID, xTransactionId).execute();
    }

    /**
     * With this API call the user (client) can unregister its devices and software services from
     * the ETX system. The unregistered devices and services will no longer be able to use the ETX
     * Message Exchange. Note: The user needs to authenticate with their ThingSpace credentials
     * using the Access/Bearer and Session/M2M tokens in order to call this API.
     * @param  deviceIDs  Required parameter: The list of device IDs and software service IDs to be
     *         unregistered
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> unregisterETXClientsAsync(
            final List<UUID> deviceIDs,
            final String vendorID,
            final UUID xTransactionId) {
        try {
            return prepareUnregisterETXClientsRequest(deviceIDs, vendorID, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for unregisterETXClients.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareUnregisterETXClientsRequest(
            final List<UUID> deviceIDs,
            final String vendorID,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/clients/registration")
                        .queryParam(param -> param.key("DeviceIDs")
                                .value(deviceIDs))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * With this API call the user can check the certificate of the device. At least one of the
     * DeviceID, IMEI, ICCID or IMSI is required to make the call. Note: The user needs to
     * authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens
     * in order to call this API.
     * @param  iD  Required parameter: One of the following IDs is required- DeviceID, IMEI, ICCID,
     *         IMSI. If more than one ID is provided, the API will return the certificate for the
     *         first ID found. The IDs are evaluated in the following order: DeviceID, IMEI, ICCID,
     *         IMSI. If the first provided ID is not found, the API will return an error.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ClientPersistenceResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ClientPersistenceResponse> getETXClientCertificate(
            final ETXClientIDLookup iD,
            final String vendorID,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareGetETXClientCertificateRequest(iD, vendorID, xTransactionId).execute();
    }

    /**
     * With this API call the user can check the certificate of the device. At least one of the
     * DeviceID, IMEI, ICCID or IMSI is required to make the call. Note: The user needs to
     * authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens
     * in order to call this API.
     * @param  iD  Required parameter: One of the following IDs is required- DeviceID, IMEI, ICCID,
     *         IMSI. If more than one ID is provided, the API will return the certificate for the
     *         first ID found. The IDs are evaluated in the following order: DeviceID, IMEI, ICCID,
     *         IMSI. If the first provided ID is not found, the API will return an error.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ClientPersistenceResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ClientPersistenceResponse>> getETXClientCertificateAsync(
            final ETXClientIDLookup iD,
            final String vendorID,
            final UUID xTransactionId) {
        try {
            return prepareGetETXClientCertificateRequest(iD, vendorID, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getETXClientCertificate.
     */
    private ApiCall<ApiResponse<ClientPersistenceResponse>, ApiException> prepareGetETXClientCertificateRequest(
            final ETXClientIDLookup iD,
            final String vendorID,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<ClientPersistenceResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/clients/registration")
                        .queryParam(param -> param.key("ID")
                                .value(iD))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ClientPersistenceResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not Found",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * With this API call the device or software service requests the MQTT URL for the location that
     * it needs to connect. To determine the proper URL the device or software service needs to
     * provide its ID (the one that was provided in the registration request), location (GPS
     * coordinates), and whether it is on the Verizon cellular network or not. Note: The user needs
     * to authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M
     * tokens in order to call this API.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ConnectionResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ConnectionResponse> getETXConnectionUrl(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareGetETXConnectionUrlRequest(vendorID, body, xTransactionId).execute();
    }

    /**
     * With this API call the device or software service requests the MQTT URL for the location that
     * it needs to connect. To determine the proper URL the device or software service needs to
     * provide its ID (the one that was provided in the registration request), location (GPS
     * coordinates), and whether it is on the Verizon cellular network or not. Note: The user needs
     * to authenticate with their ThingSpace credentials using the Access/Bearer and Session/M2M
     * tokens in order to call this API.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ConnectionResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ConnectionResponse>> getETXConnectionUrlAsync(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) {
        try {
            return prepareGetETXConnectionUrlRequest(vendorID, body, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getETXConnectionUrl.
     */
    private ApiCall<ApiResponse<ConnectionResponse>, ApiException> prepareGetETXConnectionUrlRequest(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<ConnectionResponse>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/clients/connection")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ConnectionResponse.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * With this API call the device or software service requests the MQTT URL for the location that
     * it needs to connect. To determine the proper URL the device or software service needs to
     * provide its ID (the one that was provided in the registration request), location (GPS
     * coordinates), and whether it is on the Verizon cellular network or not. If there are multiple
     * MECs that serve the location of the client all options are provided in the response, and the
     * client is free to choose which MEC they want to connect. Note: The user needs to authenticate
     * with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to
     * call this API.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ConnectionResponseV3 wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<ConnectionResponseV3> getETXConnectionUrlMultiMec(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareGetETXConnectionUrlMultiMecRequest(vendorID, body, xTransactionId).execute();
    }

    /**
     * With this API call the device or software service requests the MQTT URL for the location that
     * it needs to connect. To determine the proper URL the device or software service needs to
     * provide its ID (the one that was provided in the registration request), location (GPS
     * coordinates), and whether it is on the Verizon cellular network or not. If there are multiple
     * MECs that serve the location of the client all options are provided in the response, and the
     * client is free to choose which MEC they want to connect. Note: The user needs to authenticate
     * with their ThingSpace credentials using the Access/Bearer and Session/M2M tokens in order to
     * call this API.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the ConnectionResponseV3 wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<ConnectionResponseV3>> getETXConnectionUrlMultiMecAsync(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) {
        try {
            return prepareGetETXConnectionUrlMultiMecRequest(vendorID, body, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for getETXConnectionUrlMultiMec.
     */
    private ApiCall<ApiResponse<ConnectionResponseV3>, ApiException> prepareGetETXConnectionUrlMultiMecRequest(
            final String vendorID,
            final ConnectionRequest body,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<ConnectionResponseV3>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v3/clients/connection")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserialize(response, ConnectionResponseV3.class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too Many Requests",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This API allows retrieving devices by vendor ID and optional filters. The request should
     * include the VendorID and any filters to apply.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the List of DevicesResponse wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<DevicesResponse>> queryETXDevices(
            final DevicesRequest body,
            final UUID xTransactionId) throws ApiException, IOException {
        return prepareQueryETXDevicesRequest(body, xTransactionId).execute();
    }

    /**
     * This API allows retrieving devices by vendor ID and optional filters. The request should
     * include the VendorID and any filters to apply.
     * @param  body  Required parameter:
     * @param  xTransactionId  Optional parameter: Optional transaction identifier for tracing
     *         requests. If not provided, the application will generate one.
     * @return    Returns the List of DevicesResponse wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<DevicesResponse>>> queryETXDevicesAsync(
            final DevicesRequest body,
            final UUID xTransactionId) {
        try {
            return prepareQueryETXDevicesRequest(body, xTransactionId).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for queryETXDevices.
     */
    private ApiCall<ApiResponse<List<DevicesResponse>>, ApiException> prepareQueryETXDevicesRequest(
            final DevicesRequest body,
            final UUID xTransactionId) {
        return new ApiCall.Builder<ApiResponse<List<DevicesResponse>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v1/clients/query")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("X-Transaction-Id")
                                .value(xTransactionId).isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        DevicesResponse[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Invalid Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized Request",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase("500",
                                 ErrorCase.setReason("Internal Server Error",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new ETXRespondingErrorException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}