/*
 * VerizonLib
 *
 * This file was automatically generated by APIMATIC v3.0 ( https://www.apimatic.io ).
 */

package com.verizon.thingspace.controllers;

import com.verizon.thingspace.ApiHelper;
import com.verizon.thingspace.Server;
import com.verizon.thingspace.exceptions.ApiException;
import com.verizon.thingspace.exceptions.MdmErrorResponseException;
import com.verizon.thingspace.http.request.HttpMethod;
import com.verizon.thingspace.http.response.ApiResponse;
import com.verizon.thingspace.models.ETXMAPDataIngestRequest;
import com.verizon.thingspace.models.ETXMessageStandardEnum;
import com.verizon.thingspace.models.GeofencePolygon;
import com.verizon.thingspace.models.containers.MapDataQueryRequest;
import io.apimatic.core.ApiCall;
import io.apimatic.core.ErrorCase;
import io.apimatic.core.GlobalConfiguration;
import io.apimatic.coreinterfaces.http.request.ResponseClassType;
import java.io.IOException;
import java.util.List;
import java.util.concurrent.CompletableFuture;
import java.util.concurrent.CompletionException;

/**
 * This class lists all the endpoints of the groups.
 */
public final class MapMessageController extends BaseController {

    /**
     * Initializes the controller.
     * @param globalConfig    Configurations added in client.
     */
    public MapMessageController(GlobalConfiguration globalConfig) {
        super(globalConfig);
    }

    /**
     * This endpoint is deprecated. (Use /api/v2/mapdata/query for new integrations). This endpoint
     * allows user to download SAE J2735 or ETSI MAP messages in ASN.1 UPER base64 encoded format.
     * The area for the MAP messages is needed to be defined in the query. **Required request
     * header:** `Accept` — specifies the response format. Omitting this header will result in a
     * `400 Bad Request`. Supported values: - `text/plain` — ASN.1 UPER base64-encoded MAP messages
     * (one per line) - `application/json` — JSON-encoded MAP messages.
     * @deprecated
     * 
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  geofence  Required parameter: GeoJSON Polygon defining the area to retrieve MAP
     *         messages for.
     * @return    Returns the String wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    @Deprecated
    public ApiResponse<String> downloadMAPMessages(
            final String vendorID,
            final GeofencePolygon geofence) throws ApiException, IOException {
        return prepareDownloadMAPMessagesRequest(vendorID, geofence).execute();
    }

    /**
     * This endpoint is deprecated. (Use /api/v2/mapdata/query for new integrations). This endpoint
     * allows user to download SAE J2735 or ETSI MAP messages in ASN.1 UPER base64 encoded format.
     * The area for the MAP messages is needed to be defined in the query. **Required request
     * header:** `Accept` — specifies the response format. Omitting this header will result in a
     * `400 Bad Request`. Supported values: - `text/plain` — ASN.1 UPER base64-encoded MAP messages
     * (one per line) - `application/json` — JSON-encoded MAP messages.
     * @deprecated
     * 
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  geofence  Required parameter: GeoJSON Polygon defining the area to retrieve MAP
     *         messages for.
     * @return    Returns the String wrapped in ApiResponse response from the API call
     */
    @Deprecated
    public CompletableFuture<ApiResponse<String>> downloadMAPMessagesAsync(
            final String vendorID,
            final GeofencePolygon geofence) {
        try {
            return prepareDownloadMAPMessagesRequest(vendorID, geofence).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for downloadMAPMessages.
     */
    private ApiCall<ApiResponse<String>, ApiException> prepareDownloadMAPMessagesRequest(
            final String vendorID,
            final GeofencePolygon geofence) {
        return new ApiCall.Builder<ApiResponse<String>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/mapdata")
                        .queryParam(param -> param.key("Geofence")
                                .value(geofence))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.GET))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> new String(response))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not found",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("unexpected error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint allows the user to upload map messages in ASN.1 UPER base64 encoded format or
     * JER (JSON) formats. The MAP data message can have more than one intersections in it. Both SAE
     * and ETSI defined MAP messages are supported. The SAE type MAP messages have to be wrapped in
     * a MessageFrame, as defined in the SAE J2735 standard. The ETSI type MAP messages are expected
     * as MAPEM structures that include the ETSI header, as defined in the ETSI TS 103 301 standard.
     * Note: The user needs to authenticate with their ThingSpace credentials using the
     * Access/Bearer and Session/M2M tokens in order to call this API. **Required request header:**
     * `Content-Type` — specifies the format of the request body. Omitting or sending an unsupported
     * value will result in a `415 Unsupported Media Type`. Supported values: - `text/plain` — ASN.1
     * UPER base64-encoded MAP message - `application/json` — JSON representation of the MAP
     * message.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  mapDataMessageStandard  Required parameter: Select which V2X messaging standard will
     *         be used for the message generation. The following options are supported: - "etsi":
     *         The message will be generated using the ETSI (European) standard (e.g. MAPEM). -
     *         "sae": The message will be generated using the SAE J2735 (North American) standard
     *         (e.g. MAP). - if not sent while POST, defaults to "sae"
     * @param  body  Required parameter: UPER/ASN.1 J2735/ETSI base64 encoded MapData message or
     *         JSON representation of the MapData message.
     * @return    Returns the String wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<String> ingestMAPMessages(
            final String vendorID,
            final ETXMessageStandardEnum mapDataMessageStandard,
            final ETXMAPDataIngestRequest body) throws ApiException, IOException {
        return prepareIngestMAPMessagesRequest(vendorID, mapDataMessageStandard, body).execute();
    }

    /**
     * This endpoint allows the user to upload map messages in ASN.1 UPER base64 encoded format or
     * JER (JSON) formats. The MAP data message can have more than one intersections in it. Both SAE
     * and ETSI defined MAP messages are supported. The SAE type MAP messages have to be wrapped in
     * a MessageFrame, as defined in the SAE J2735 standard. The ETSI type MAP messages are expected
     * as MAPEM structures that include the ETSI header, as defined in the ETSI TS 103 301 standard.
     * Note: The user needs to authenticate with their ThingSpace credentials using the
     * Access/Bearer and Session/M2M tokens in order to call this API. **Required request header:**
     * `Content-Type` — specifies the format of the request body. Omitting or sending an unsupported
     * value will result in a `415 Unsupported Media Type`. Supported values: - `text/plain` — ASN.1
     * UPER base64-encoded MAP message - `application/json` — JSON representation of the MAP
     * message.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  mapDataMessageStandard  Required parameter: Select which V2X messaging standard will
     *         be used for the message generation. The following options are supported: - "etsi":
     *         The message will be generated using the ETSI (European) standard (e.g. MAPEM). -
     *         "sae": The message will be generated using the SAE J2735 (North American) standard
     *         (e.g. MAP). - if not sent while POST, defaults to "sae"
     * @param  body  Required parameter: UPER/ASN.1 J2735/ETSI base64 encoded MapData message or
     *         JSON representation of the MapData message.
     * @return    Returns the String wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<String>> ingestMAPMessagesAsync(
            final String vendorID,
            final ETXMessageStandardEnum mapDataMessageStandard,
            final ETXMAPDataIngestRequest body) {
        try {
            return prepareIngestMAPMessagesRequest(vendorID, mapDataMessageStandard, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for ingestMAPMessages.
     */
    private ApiCall<ApiResponse<String>, ApiException> prepareIngestMAPMessagesRequest(
            final String vendorID,
            final ETXMessageStandardEnum mapDataMessageStandard,
            final ETXMAPDataIngestRequest body) {
        return new ApiCall.Builder<ApiResponse<String>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/mapdata")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serialize(body))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("MessageStandard")
                                .value((mapDataMessageStandard != null) ? mapDataMessageStandard.value() : "sae").isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> new String(response))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("405",
                                 ErrorCase.setReason("Method not allowed",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("unexpected error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * This endpoint allows users to download SAE J2735 or ETSI MAP messages as a JSON list.
     * Depending on the expectedType parameter, the response contains either ASN.1 UPER
     * base64-encoded messages with their respective region and intersection IDs, or fully decoded
     * JSON messages. The area for MAP message retrieval must be defined in the request body using
     * one of two methods: An array of region and intersection ID pairs, or a GeoJSON geofence
     * specification.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @return    Returns the List of Object wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<List<Object>> queryMapMessages(
            final String vendorID,
            final MapDataQueryRequest body) throws ApiException, IOException {
        return prepareQueryMapMessagesRequest(vendorID, body).execute();
    }

    /**
     * This endpoint allows users to download SAE J2735 or ETSI MAP messages as a JSON list.
     * Depending on the expectedType parameter, the response contains either ASN.1 UPER
     * base64-encoded messages with their respective region and intersection IDs, or fully decoded
     * JSON messages. The area for MAP message retrieval must be defined in the request body using
     * one of two methods: An array of region and intersection ID pairs, or a GeoJSON geofence
     * specification.
     * @param  vendorID  Required parameter: The VendorID set during the Vendor registration call.
     * @param  body  Required parameter:
     * @return    Returns the List of Object wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<List<Object>>> queryMapMessagesAsync(
            final String vendorID,
            final MapDataQueryRequest body) {
        try {
            return prepareQueryMapMessagesRequest(vendorID, body).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for queryMapMessages.
     */
    private ApiCall<ApiResponse<List<Object>>, ApiException> prepareQueryMapMessagesRequest(
            final String vendorID,
            final MapDataQueryRequest body) {
        return new ApiCall.Builder<ApiResponse<List<Object>>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/mapdata/query")
                        .bodyParam(param -> param.value(body))
                        .bodySerializer(() ->  ApiHelper.serializeTypeCombinator(body))
                        .headerParam(param -> param.key("VendorID")
                                .value(vendorID).isRequired(false))
                        .headerParam(param -> param.key("Content-Type")
                                .value("application/json").isRequired(false))
                        .headerParam(param -> param.key("accept").value("application/json"))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.POST))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .apiResponseDeserializer(
                                response -> ApiHelper.deserializeArray(response,
                                        Object[].class))
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("405",
                                 ErrorCase.setReason("Method not allowed",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("unexpected error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }

    /**
     * Removes a map message for the specified region and intersection ID.
     * @param  regionId  Required parameter: Region ID to filter the map messages.
     * @param  i10nid  Required parameter: Intersection ID to filter the map messages.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     * @throws    ApiException    Represents error response from the server.
     * @throws    IOException    Signals that an I/O exception of some sort has occurred.
     */
    public ApiResponse<Void> deleteMapMessage(
            final String regionId,
            final String i10nid) throws ApiException, IOException {
        return prepareDeleteMapMessageRequest(regionId, i10nid).execute();
    }

    /**
     * Removes a map message for the specified region and intersection ID.
     * @param  regionId  Required parameter: Region ID to filter the map messages.
     * @param  i10nid  Required parameter: Intersection ID to filter the map messages.
     * @return    Returns the Void wrapped in ApiResponse response from the API call
     */
    public CompletableFuture<ApiResponse<Void>> deleteMapMessageAsync(
            final String regionId,
            final String i10nid) {
        try {
            return prepareDeleteMapMessageRequest(regionId, i10nid).executeAsync();
        } catch (Exception e) {
            throw new CompletionException(e);
        }
    }

    /**
     * Builds the ApiCall object for deleteMapMessage.
     */
    private ApiCall<ApiResponse<Void>, ApiException> prepareDeleteMapMessageRequest(
            final String regionId,
            final String i10nid) {
        return new ApiCall.Builder<ApiResponse<Void>, ApiException>()
                .globalConfig(getGlobalConfiguration())
                .requestBuilder(requestBuilder -> requestBuilder
                        .server(Server.IMP_SERVER.value())
                        .path("/api/v2/mapdata/regionid/{regionId}/i10nid/{i10nid}")
                        .templateParam(param -> param.key("regionId").value(regionId)
                                .shouldEncode(true))
                        .templateParam(param -> param.key("i10nid").value(i10nid)
                                .shouldEncode(true))
                        .withAuth(auth -> auth
                                .and(andAuth -> andAuth
                                        .add("thingspace_oauth")
                                        .add("sessionToken")))
                        .httpMethod(HttpMethod.DELETE))
                .responseHandler(responseHandler -> responseHandler
                        .responseClassType(ResponseClassType.API_RESPONSE)
                        .nullify404(false)
                        .localErrorCase("400",
                                 ErrorCase.setReason("Bad Request",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("401",
                                 ErrorCase.setReason("Unauthorized",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("403",
                                 ErrorCase.setReason("Forbidden",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("404",
                                 ErrorCase.setReason("Not found",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("429",
                                 ErrorCase.setReason("Too many requests",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase("503",
                                 ErrorCase.setReason("Internal server error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .localErrorCase(ErrorCase.DEFAULT,
                                 ErrorCase.setReason("unexpected error",
                                (reason, context) -> new MdmErrorResponseException(reason, context)))
                        .globalErrorCase(GLOBAL_ERROR_CASES))
                .build();
    }
}